 :root{
    font-optical-sizing: auto;
 }
 
 a {
     color: black;
     text-decoration: none;
     /* tirei o traço debaixo do link */
 }

 a:hover {
     color: #ff6a28;

     p {
         color: black;
     }

     ;
 }

 .titulo {
     font-size: 35px;
     text-align: center;
     font-family: 'abel', sans-serif;
 }

 .titulo-receita {
     margin-top: 50px;
     text-align: center;
     font-size: 27px;
 }

 .preto {
     color: black;
 }

 .laranja {
     color: #ff6a28;
     margin-left: 150px;
 }

 .laranja-titulo {
     color: #ff6a28;
 }

 .quadReceitas {
     width: 1148px;
     height: 188px;
     text-align: center;
     box-shadow: 0px 3px 10px 0px lightgray;
     border: solid #ff6a28;
     border-radius: 5px;
     margin-bottom: 40px;
     /* object-fit:; */
 }

 .div-destaque-esquerda {
     width: 283px;
     height: 188px;
     display: inline-block;
     vertical-align: bottom;
 }

 .fotoDestaques {
    width: 100%;
     height: 188px;
     margin-left: -10px;
     object-fit: cover;
 }

 .breve-descricao {
     width: 851px;
     height: 188px;
     display: inline-block;
     vertical-align: bottom;
 }
 
 #centralizar-foto{
    /* width: 800px; */
    display: flex;
    justify-content: center;
    align-items: center;
 }

 .fotos-receitas {
    width: 100%;
    max-width: 800px;
    height: 500px;
    object-fit: cover;
    border-radius: 5px;
    border: 4px solid #ff6a2f;
    margin-bottom: 10px;
}

#informacoes-receita {
    width: 100%;
    max-width: 800px; 
    margin: 0 auto;
}

 .descricao-receita {
     box-sizing: border-box;
     display: grid;
     width: 800px;
     margin: 0 auto;

     ul,
     ol,
     li {
         width: 800px;
         margin-left: 0;
        padding-left: 10px;
}

         p {
             padding: 0;
             margin: 0;
         }
}


 .menu {
     padding-right: 8px;
 }

 #rodape {
     margin-top: 30px;
     text-align: center;
     vertical-align: bottom;

     div {
         display: inline-block;
         vertical-align: middle;
     }

     p {
         display: inline-block;
         font-size: 15px
     }

     ;
 }

 .logo-redes {
     width: 35px;
     height: 35px;
 }

 h2,
 h3,
 p,
 .menu,
 ul,
 ol {
     font-family: 'abel', sans-serif;
 }

 nav {
     text-align: center;
 }

 .resumo-receita {
     padding: 5px 15px;
 }

 #centralizar-divs {
     display: grid;
     place-items: center;
 }

/* @media (max-width: ) {
    
} */
#paginicial main {
	padding: 40px 20px;
	display: flex;
	justify-content: center;
}