 a {
     color: black;
     text-decoration: none;
     /* tirei o traço debaixo do link */
 }

 a:hover {
     color: #ff6a28;

     p {
         color: black;
     }

     ;
 }

 .titulo {
     font-size: 35px;
     text-align: center;
     font-family: 'abel', sans-serif;
 }

 .titulo-receita {
     text-align: center;
 }

 .preto {
     color: black;
 }

 .laranja {
     color: #ff6a28;
     margin-left: 150px;
 }

 .laranja-titulo {
     color: #ff6a28;
 }

 .quadReceitas {
     width: 1148px;
     height: 188px;
     text-align: center;
     box-shadow: 0px 3px 10px 0px lightgray;
     border: solid #ff6a28;
     margin-bottom: 40px;
 }

 .div-destaque-esquerda {
     width: 283px;
     height: 188px;
     display: inline-block;
     vertical-align: bottom;

 }

 .fotoDestaques {
     max-width: 100%;
     max-height: 100%;
     width: auto;
     height: auto;
     margin-left: -11px;
 }

 .breve-descricao {
     width: 851px;
     height: 188px;
     display: inline-block;
     vertical-align: bottom;
 }

 #div-receita {
     width: 1110px;
     height: 700px;
     border: solid red;
     display: inline-block;
     vertical-align: bottom;
 }

 #foto-receita {
     width: 480px;
     height: 580px;
     border: solid red;
     margin: 58px 0px 58px 40px;
     display: inline-block;
     vertical-align: bottom;
 }

 #informacoes-receita {
     width: 480px;
     height: 580px;
     display: inline-block;
     border: solid red;
     margin: 58px 40px 58px 0px;
     vertical-align: bottom;
 }

 .descricao-receita {
     width: 480px;
     height: 175px;
     border: solid red;
     margin-right: 35px;
 }

 .menu {
     padding-right: 8px;
 }

 .rodape {
     text-align: center;
 }

 h2,
 h3,
 p,
 .menu,
 ul,
 ol {
     font-family: 'abel', sans-serif;
 }

 nav {
     text-align: center;
 }

 .resumo-receita {
     padding: 5px 15px;
 }

 #centralizar-divs {
     display: grid;
     place-items: center;
 }